{% extends "base_generic.html" %}

{% block title %}<title>Author Detail</title>{% endblock %}

{% block content %}
    <h1>Author: {{ author.last_name }}</h1>

    <p><strong>First Name:</strong> <a href="">{{ author.first_name }}</a></p>
    <p><strong>Last Name:</strong> {{ author.last_name }}</p>
    <p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p>
    <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>
    <table>
        <tr>
            <td><a href="{% url 'author-create' %}">New</a></td>
            <td><a href="{% url 'author-update' author.id %}">Update</a></td>
            <td><a href="{% url 'author-delete' author.id %}">Delete</a></td>
        </tr>
    </table>
{% endblock %}
